<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Details</title>
</head>
<body>
<h1>Album Details</h1>

<div>Title: <span th:text="${album.name}"></span></div>
<div>Genre: <span th:text="${album.genre}"></span></div>
<div>Release Year: <span th:text="${album.releaseYear}"></span></div>
<p>Songs:</p>
<ul>
    <li th:each="song : ${album.songs}" th:text="${song.title}"></li>
</ul>
</body>
</html>
